@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* BOTÃO DE BUSCA */

form.example input[type=text] {
    padding: 10px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 100px;
    float: left;
    width: 80%;
    background: #ffffff;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #474747;
    border-radius: 100px;
    color: white;
    font-size: 16px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #E59E44;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
/* FIM DO BOTÃO DE BUSCA */

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 60px;
}

h2 {
    font-weight: 800;
    font-size: 44px;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
   

}

header nav ul {
    display: flex;
    list-style: none;
    
    
  
}

header nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    margin-left: 10px
}

header ul li {
    margin: 0 10px;
    
}

section#servicos {
    background: #35BDDD;
    padding: 61px;
    
}

section#servicos h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    
}

section#servicos .card {
    background-color: #ffffff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

section#servicos .card img{
    width: 150px;
    height: 150px;
    object-fit:cover;

}

section#servicos .card p {
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    
}

section#servicos .card span {
    font-size: 16px;
}

section#servicos .card .content {
    padding: 11px 11px 25px 11px;
}

section#texto p{
    text-align: center;
    margin: 40px 0;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 16px;
    font-weight: 1000;

}
    
section#texto ul{
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    
    
}

section#texto ul li{
    list-style: circle;

}

section#detailed {
    display: flex;
    justify-content: center;
    gap: 20px;
    object-fit:cover;
    margin: 60px 0;
    
}


section#detailed h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(42, 42, 42);
}

section#detailed .agendar {
    width: 350px;
    height: 100px;
    background: #d7891c;
    object-fit:cover;
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    margin-bottom: 50px;
    padding: 20px 10px;
    border-radius: 10px;
    
  }



section#detailed button {
    width: 350px;
    height: 100px;
    background: #d7891c;
    object-fit:cover;
    color: #ffffff;
    font-weight: 600;
    font-size: 39px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-bottom: 50px;
}

section#detailed > div {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #E49c29;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

footer img {
    margin-bottom: -15px;
}

footer p {
    max-width: 255px;
    color: #ffffff;
    margin: 0;
    font-size: 11px;
    text-align: center;
}

footer ul {
    list-style: none;
    color: #fff;
    font-size: 16px;
}

footer ul li.title {
    font-weight: bold;
    font-size: 20px;
    
}

footer a {
    font-style: normal;
    color: #fff;
    text-decoration: none;
}

.margin-list li:hover {
    color: #c2185b;
}
